.fancybox-nav span {
    visibility: visible;
}

.fancybox-next {
    right: -55px;
    width: 0px;
}

.fancybox-prev {
    left: -55px;
    width: 0px;
}

.fancybox-wrap {
	/*border: 30px solid #ff0000 !important;/* 
	/*position: absolute;*/
	margin-top: 55px;
	/*height: -20px;*/
	
	/*bottom: 'auto';*/
	-webkit-transform: translate3d(0, 0, 240px);
}

.fancybox-outer {
	background-color: #FFFFFF; /* or whatever */
}

#fancybox-overlay {
	-webkit-transform: translate3d(0, 0, 230px);
}